{% extends "admin/base.html" %}
{% block content %} 
<div class="page-header">
	<h1>View Election</h1>
</div>
<div class="container">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message }}
</div>
{% endfor %}
</div>
<div class = "col-md-8">
{% if current_user.is_authenticated %}
{% if list%}
<p>
{% for iter in list %} 
<ul><li><h4>The candidate is <b><em>{{iter.name}}</em></b> Scholar ID -<b><em>{{iter.sid}}</b></em></h4></li>
<a class="btn btn-default" href="{{ url_for('admin.delete_candidate',scholarNo= iter.sid)}}">Delete Candidate</a></ul><br>
{% endfor %}
</p>
{% else %}
There are no candidates yet. 
{% endif %}
{% endif %}
</div>
<div class = "container" align ="right">
<a class="btn btn-default" href="{{ url_for('admin.add_candidate')}}">Add Candidate</a>
</div>

{% endblock %}